# Directories
.idea/
node_modules/
dist/
tmp/
temp/
coverage/

# environment
.env
!.env.docker
config.yaml
config.yml
yarn-error.log

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# yarn
.yarn/*
.pnp.*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# yalc
.yalc
yalc.lock
