<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome Email</title>
  </head>
  <body>
    <main>
      <h2>Welcome, {{userName}}!</h2>
      <p>Welcome to our platform!</p>
    </main>

    <footer>
      <p>&copy; 2024 Company. All rights reserved.</p>
    </footer>
  </body>
</html>